*{padding:0;margin: 0;list-style:none;outline:none;box-sizing: border-box;text-decoration: none;color: inherit;}
body{font-size: .28rem;}
img{outline: none;}
.ovh{overflow: hidden;}
.flex{display: flex}
.wp20{width:20%}
.wp25{width:25%}
.wp33{width:33.333%}
.wp40{width:40%}
.wp50{width:50%}
.wp100{width: 100%}
.hp100{height: 100%}
.fl{float: left;}
.fr{float: right;}
.alic{text-align: center;}
.alir{text-align:right;}
.c66{color:#666;}
.c33{color:#333;}
.c88{color: #888;}
.c99{color: #999;}
.cff{color:#fff;}
.cblue{color:#26a2ff;}
.corange{color:#EB6402}
.bgcff{background: #fff;}
.lh36{line-height: .36rem}
.lh44{line-height:.44rem;}
.lh88{line-height:.88rem;}
.ptr{position: relative;}
.pta{position: absolute;}
.fixed{position: fixed;}
.b0{bottom: 0;}
.l0{left: 0;}
.r0{right: 0;}
.t0{top: 0;}
.mt20{margin-top: .2rem}
.mr10{margin-right: .1rem}
.mr20{margin-right: .2rem}
.p10{padding: .1rem;}
.pt10{padding-top: .1rem}
.pt20{padding-top: .2rem}
.pt88{padding-top: .88rem;}
.pt100{padding-top: 1rem;}
.pb60{padding-bottom: 60px}
.pb10{padding-bottom: .1rem;}
.pb20{padding-bottom: .2rem;}
.pl10{padding-left: .1rem}
.pl20{padding-left: .2rem}
.pl30{padding-left: .3rem}
.pr10{padding-right: .1rem}
.pr20{padding-right: .2rem}
.pr30{padding-right: .3rem}
.fs24{font-size: .24rem;}
.fs28{font-size:.28rem;}
.fs30{font-size:.30rem;}
.fs32{font-size: .32rem;}
.fs34{font-size: .34rem;}
.fs36{font-size: .36rem;}
.bdb5{border-bottom: .1rem solid #f4f7f9;}
.bdb{border-bottom: 1px solid #e0e0e0;}
.bdr5{border-radius: 5px;}
.dsib{display: inline-block;}
.scrollx{overflow-x: auto;}
.nwap{white-space: nowrap;}
.sbet{justify-content: space-between}
.ellipsis {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.size-cover {
  padding: 66% 0;
  background: url('../img/icon_mine.jpg') no-repeat !important;
  background-size: cover !important;
}
.back{ position: absolute;left:.2rem;top:.24rem;height:.4rem;}
.loadtext{padding:.2rem 0;text-align: center;}
.chosetv{position: fixed;width: 100%;height:100%;background: rgba(0,0,0,.85);left:0;top:0;z-index: 999;}
