$color-primary:#2d66fe;
.mint-tabbar{background: #fff;}
.mint-tabbar > .mint-tab-item.is-selected {background: transparent;color:$color-primary;}
.mint-swipe-indicators{right:10px;bottom:0;left:auto;z-index: 1; -webkit-transform: none; transform: none;height: 25px;line-height:25px;}
.mint-swipe-indicator {width: 10px; height: 10px;border:2px solid #fff;border-radius: 50%; margin:0 5px;background: transparent;opacity:1;}
.mt-progress{height:3px;}
.mint-tab-item-label{font-size: .28rem}



.live {
  .watch{
    .mint-cell-wrapper{padding:0;}
    .mint-cell-text{font-size: .36rem;}
  } }
.index_db{
  .mint-navbar .mint-tab-item.is-selected{border-bottom:none;}

}




.list{
  .topline{display: block;padding: 0 .3rem;height:.8rem;line-height: .8rem;}
  .topimg{height:3.16rem;
  img{min-height: 100%;}}
}
.listbox{display: flex;flex-wrap: wrap;justify-content:space-between;
  .item{display: block;width: 33%;padding-bottom: .2rem;
    .J_til{padding: .1rem;}
    .zb_channel{width:.6rem;height:.6rem;line-height: .6rem;border-radius:.3rem;background:rgba(255,255,255,.65);top:.1rem;left:.1rem;
      img{width:.48rem;vertical-align: middle} }
  }
}
.column{color:#6d6d6d;padding:10px 0 20px;display: flex;flex-wrap: wrap;
  img{width:.6rem;height:.6rem;margin-bottom: .2rem;}
  a{display: block;width:25%;padding-top: .3rem;}}

.leftbar{position: fixed;left:0;top:1rem;bottom: 1rem;width:22%;
  li{padding: 13px 0;
    &.active{
      background-color: #f4f7f9;
      color: #4c7ffe;
    }
  }}
.righttab{
  padding: 0 .1rem;margin-left: 22%;width: 78%;
  li{width:33.33%;padding-bottom: 33.33%;margin-bottom:.05rem;
    .item{padding: .2rem 0;position: absolute;top:.05rem;left:.05rem;right:.05rem;bottom: .05rem;border:1px solid #f2f2f2;
      img{width: .76rem;height: .76rem;}
    }
  }

}
.detail_btns{
  padding:.08rem .2rem;height:0.96rem;justify-content: space-between;
  .left{line-height: .8rem;display:flex;
    .title{max-width: 1.72rem}
    .channelimg{width:.7rem;height:.7rem;margin-right: .1rem}
  }
  .tool{
    li{width:.6rem;margin-left:.4rem;line-height:0;
      &:first-child{
        margin: 0;
      }
      img{
        width: .44rem;height:.396rem;
      }
      p{line-height:.404rem }
    }
  }
}
.search {
  .mint-search{height:.88rem;padding-right:1.2rem;}
  .mint-search-list{overflow: visible}
  .mint-cell-wrapper{text-align: left;}
  .mint-searchbar{background: #fff;padding-left: .3rem;padding-right:0;}
  .mint-searchbar-inner, .mint-searchbar-core{background: #f4f4f4;}
  .mint-searchbar-inner .mintui-search{margin-right: .2rem}
  .mint-searchbar-cancel{color:#d9d9d9;}
}
.minebtn{display:inline-block;background: url('../img/r_rectangle.png') no-repeat;background-size: 100% 100%;}
